#!/usr/bin/perl -w

my $config
    = {
       files => [
		 './bin/pb-create-module',
		 './bin/pb-pull',
		 './bin/pb-push',
		 './bin/pb-version',
		 './configure.ac',
		],
       labels => {
		  email => '',
		  label => '',
		  major => '',
		  micro => '',
		  minor => '',
		  monotone_id => `mtn automate get_current_revision_id`,
		  package => '',
		 },
      };

return $config;

